@page "{handler?}"
@model ResumeMaker.Pages.AuthModel
@{
    ViewData["Title"] = "Authentication";
}

@addTagHelper AuthoringTagHelpers.TagHelpers.E*, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.Email*, AuthoringTagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers


<link rel="stylesheet" href="~/css/Header.css" />
<link rel="stylesheet" href="~/css/SignIn.css" />

<header class="d-flex justify-content-between col-12" style="font-family: 'Courier New' !important; width: 100vw !important;">

    <label class="ml-2 align-self-center">
        <a class="header-text-icon link logo text-light" href="/">DESIGNER</a>
    </label>

    <img src="/images/nav-icon.png" class="img-thumbnail menu-button align-self-center" onclick="showNav()" />

    <nav>
        <img src="/images/x-icon.png" class="img-thumbnail exit-button mt-2" style="width:12%; height:5%;" onclick="hideNav()" />
        <ul class="primary-nav" id="target-nav">
        </ul>

        @{
            if (ResumeMaker.Helpers.SessionHelper.GetObjectFromJson<int>(HttpContext.Session, "ID") == -1
            || ResumeMaker.Helpers.SessionHelper.GetObjectFromJson<int>(HttpContext.Session, "ID") == 0)
            {
                <ul class="secondary-nav mt-4">
                    <li>
                        <a asp-page="/auth" asp-page-handler="Credentials" class="link">Log in</a>
                    </li>
                    <li>
                        <a asp-page="/auth" asp-page-handler="Credentials" class="link sign-up">Sign Up</a>
                    </li>
                </ul>
            }
            else
            {
                <script type="text/javascript">
                    let nav = document.getElementById("target-nav");
                    let a = document.createElement("a");
                    let li = document.createElement("li");
                    a.setAttribute("href", "/myresumes");
                    a.classList.add("link");
                    a.innerHTML = "My Resumes";
                    li.appendChild(a);
                    nav.appendChild(li);
                </script>

                <ul class="secondary-nav">
                    <li>
                        <a asp-page="/auth" asp-page-handler="LogOut" class="link">Log Out</a>
                    </li>
                </ul>
            }
        }
    </nav>
</header>



<div class="container col-xl-7 col-10" id="container">

    <div class="form-container sign-up-container">
        <form method="POST" asp-page-handler="SignUp" asp-route-ResumeID="@Model.ResumeID">
            <p class="responsive-font">SIGN UP</p>

            <div id="errors_div" class="text-center bg-danger text-light ">
                @Model.ErrorMessage
            </div>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>

            <span>or use your email for registration</span>
            <span asp-validation-for="user.UserName" class="text-danger float-right"></span>
            <div class="d-flex flex-column justify-content-center">
                <div class="d-flex flex-column justify-content-center">
                    <input class="form-control-sm" type="text" placeholder="Name" asp-for="user.UserName" name="username" />
                    <span asp-validation-for="user.Email" class="text-danger float-right"></span>
                    <input class="form-control-sm" type="email" placeholder="Email" asp-for="user.Email" name="email" />
                    <span asp-validation-for="user.Password" class="text-danger float-right"></span>
                    <input class="form-control-sm" type="password" placeholder="Password" asp-for="user.Password" name="password" />
                    <span asp-validation-for="user.PasswordConfirm" class="text-danger float-right"></span>
                    <input class="form-control-sm" type="password" placeholder="Password" asp-for="user.PasswordConfirm" name="passwordconfirm" />
                </div>
                <button id="signupbutton" class="mt-5 text-light">SIGN UP</button>
            </div>
        </form>
    </div>

    <div class="form-container sign-in-container">
        <form method="POST" asp-page-handler="LogIn" asp-route-ResumeID="@Model.ResumeID">
            <p class="responsive-font">SIGN IN</p>
            <div class="text-center bg-danger text-light" id="errors_div">
                @Model.ErrorMessage
            </div>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <div class="d-flex flex-column justify-content-center">
                <div class="d-flex flex-column justify-content-center">
                    <input class="form-control-sm" type="text" placeholder="Username" asp-for="user.UserName" name="username" />
                    <input class="form-control-sm" type="password" placeholder="Password" asp-for="user.Password" name="password" />
                </div>
                <a href="#">Forgot your password?</a>

                <button id="signinbutton" class="text-light">SIGN IN</button>
            </div>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost btn btn-outline-light" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right ">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost btn btn-outline-light" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>

</div>
















<div class="container w-100 mt-5" id="small-container">

    <div class="col-12 d-flex flex-row w-100">
        <button class="col-6 w-100 btn-auth" onclick="loginBtn();">Login</button>
        <button class="col-6 w-100 btn-auth" onclick="signupBtn();">SignUp</button>
    </div>


    <div class="w-100 mt-5 col-12">

        <div class="form-container-small col-11 d-none justify-content-center" id="signup_container_small">
            <form method="POST" asp-page-handler="SignUp" asp-route-ResumeID="@Model.ResumeID" class="col-12">
                <p class="responsive-font">SIGN UP</p>

                <div id="errors_div" class="text-center bg-danger text-light col-12">
                    @Model.ErrorMessage
                </div>
                <div class="social-container col-12">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <span asp-validation-for="user.UserName" class="text-danger float-right"></span>
                <div class="d-flex flex-column justify-content-center col-12">
                    <div class="d-flex flex-column justify-content-center col-12">
                        <input class="form-control-sm col-md-10 offset-md-1 col-12" type="text" placeholder="Name" asp-for="user.UserName" name="username" />
                        <span asp-validation-for="user.Email" class="text-danger float-right"></span>
                        <input class="form-control-sm col-md-10 offset-md-1 col-12" type="email" placeholder="Email" asp-for="user.Email" name="email" />
                        <span asp-validation-for="user.Password" class="text-danger float-right"></span>
                        <input class="form-control-sm col-md-10 offset-md-1 col-12" type="password" placeholder="Password" asp-for="user.Password" name="password" />
                        <span asp-validation-for="user.PasswordConfirm" class="text-danger float-right"></span>
                        <input class="form-control-sm col-md-10 offset-md-1 col-12" type="password" placeholder="Password" asp-for="user.PasswordConfirm" name="passwordconfirm" />
                    </div>
                    <button id="signupbutton" class="mt-5">SIGN UP</button>
                </div>
            </form>
        </div>

        <div class="form-container-small col-11 align-content-center " id="login_container_small">
            <form method="POST" asp-page-handler="LogIn" asp-route-ResumeID="@Model.ResumeID" class="col-12">
                <p class="responsive-font">LOG IN</p>
                <div class="text-center bg-danger text-light col-12" id="errors_div">
                    @Model.ErrorMessage
                </div>
                <div class="social-container col-12">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <div class="d-flex flex-column justify-content-center col-12">
                    <div class="d-flex flex-column justify-content-center col-12">
                        <input class="form-control-sm col-10 offset-1" type="text" placeholder="Username" asp-for="user.UserName" name="username" />
                        <input class="form-control-sm col-10 offset-1" type="password" placeholder="Password" asp-for="user.Password" name="password" />
                    </div>
                    <a href="#">Forgot your password?</a>

                    <button id="signinbutton">SIGN IN</button>
                </div>
            </form>
        </div>

    </div>


</div>










<script type="text/javascript">
    setTimeout(() => {
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    }, 500);

    function loginBtn() {
        document.getElementById("login_container_small").classList.remove('d-none');
        document.getElementById("signup_container_small").classList.add('d-none');
    }

    function signupBtn() {
        document.getElementById("login_container_small").classList.add('d-none');
        document.getElementById("signup_container_small").classList.remove('d-none');
    }
</script>
