@page "{id}"
@model ResumeMaker.Pages.EditModel

@addTagHelper AuthoringTagHelpers.TagHelpers.E*, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.Email*, AuthoringTagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@using ResumeMaker.Models;

<script type="text/javascript" src="~/js/ResumeForm.js"></script>

<link rel="stylesheet" href="/css/ResumeForm.css">
<link rel="stylesheet" href="~/css/Header.css" />


<header class="d-flex justify-content-between col-12" style="font-family: 'Courier New' !important;">

    <label class="ml-2 align-self-center">
        <a class="header-text-icon link logo text-light" href="/">DESIGNER</a>
    </label>

    <img src="/images/nav-icon.png" class="img-thumbnail menu-button align-self-center" onclick="showNav()" />

    <nav>
        <img src="/images/x-icon.png" class="img-thumbnail exit-button mt-2" style="width:12%; height:5%;" onclick="hideNav()" />
        <ul class="primary-nav" id="target-nav">
        </ul>

        @{
            if (ResumeMaker.Helpers.SessionHelper.GetObjectFromJson<int>(HttpContext.Session, "ID") == -1
            || ResumeMaker.Helpers.SessionHelper.GetObjectFromJson<int>(HttpContext.Session, "ID") == 0)
            {
                <ul class="secondary-nav mt-4">
                    <li>
                        <a asp-page="/auth" asp-page-handler="Credentials" class="link">Log in</a>
                    </li>
                    <li>
                        <a asp-page="/auth" asp-page-handler="Credentials" class="link sign-up">Sign Up</a>
                    </li>
                </ul>
            }
            else
            {
                <script type="text/javascript">
                    let nav = document.getElementById("target-nav");
                    let a = document.createElement("a");
                    let li = document.createElement("li");
                    a.setAttribute("href", "/myresumes");
                    a.classList.add("link");
                    a.innerHTML = "My Resumes";
                    li.appendChild(a);
                    nav.appendChild(li);
                </script>

                <ul class="secondary-nav">
                    <li>
                        <a asp-page="/auth" asp-page-handler="LogOut" class="link">Log Out</a>
                    </li>
                </ul>
            }
        }
    </nav>
</header>



<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card login-form w-100 bg-dark" id="card" style="opacity: 0.9;">
            <div class="card-header text-light label-responsive">My Resume</div>
            <div class="card-body ">
                <div class="card-text">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <form method="POST" enctype="multipart/form-data">

                        <input hidden asp-for="Info.Image" />
                        <div class="form-group">
                            <label asp-for="Photo" class="col-form-label text-light"></label>
                            <div class="custom-file">
                                <label class="custom-file-label font-responsive">Change photo</label>
                                <input asp-for="Photo" class="custom-file-input form-control-sm" />
                            </div>
                        </div>

                        <div class="form-group mb-2 mt-5">
                            <h1 class="card-title text-start mb-2 header-texts">Credentials</h1>

                            <label for="FirstName" class="text-light float-left">First Name</label>
                            <span asp-validation-for="Info.FirstName" class="text-danger float-right"></span>
                            <input type="text" class="form-control form-control-sm" asp-for="Info.FirstName" placeholder="Jhonny" />


                            <label for="LastName" class="text-light float-left">Last Name</label>
                            <span asp-validation-for="Info.LastName" class="text-danger float-right"></span>
                            <input type="text" class="form-control form-control-sm" asp-for="Info.LastName" placeholder="Sins" />


                            <label for="Profession" class="text-light float-left">Profession</label>
                            <span asp-validation-for="Info.Profession" class="text-danger float-right"></span>
                            <input type="text" class="form-control form-control-sm" asp-for="Info.Profession" placeholder="Doctor, Enginner, FireFighter, Teacher, Plumber......" />
                        </div>

                        <div class="form-group mb-2 mt-5">
                            <h1 class="card-title text-start mb-2 header-texts">Personal Info</h1>

                            <label for="Email" class="text-light">Email Address</label>
                            <span asp-validation-for="Info.Email" class="text-danger float-right"></span>
                            <input type="email" class="form-control form-control-sm" asp-for="Info.Email" placeholder="example@gmail.com">

                            <label for="PhoneNumber" class="text-light">Phone Number</label>
                            <span asp-validation-for="Info.PhoneNumber" class="text-danger float-right"></span>
                            <input type="text" class="form-control form-control-sm" asp-for="Info.PhoneNumber" placeholder="+961 78832927">

                            <label for="Address" class="text-light">Address</label>
                            <span asp-validation-for="Info.Address" class="text-danger float-right"></span>
                            <input type="text" class="form-control form-control-sm" asp-for="Info.Address" placeholder="Beirut-Lebanon">

                        </div>

                        <div class="form-group mb-2 mt-5">
                            <h1 class="card-title text-start mb-2 header-texts">Languages</h1>

                            <table id="languages_table" class="table">
                                <tr>
                                    <td class="d-flex flex-md-row flex-column justify-content-around align-items-center mb-4">
                                        <div class="m-2">
                                            <span class="text-light">Language: </span>
                                            <span class="float-right"></span>
                                            <input class="form-control-sm" type="text" name="LanguageName" />
                                        </div>
                                        <div class="m-2">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="LanguageValue0" id="inlineRadio1" value="1">
                                                <label class="form-check-label text-light" for="inlineRadio1">Beginner</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="LanguageValue0" id="inlineRadio2" value="2" checked>
                                                <label class="form-check-label text-light" for="inlineRadio2">Intermediate</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="LanguageValue0" id="inlineRadio3" value="3">
                                                <label class="form-check-label text-light" for="inlineRadio3">Advanced</label>
                                            </div>
                                        </div>
                                        <button class="btn btn-danger d-block" href="#" disabled>X</button>
                                    </td>
                                </tr>
                            </table>
                            <input type="button" class="btn btn-info w-20" onclick="addLanguage('', 2);" value="Add Language">

                        </div>

                        <div class="form-group mt-5">
                            <h1 class="card-title text-start mb-2 header-texts">Skills</h1>
                            <table id="skills_table" class="table">
                                <tr>
                                    <td class="d-flex flex-md-row flex-column justify-content-around align-items-center mb-4">
                                        <div class="m-2">
                                            <span class="text-light">Skill: </span>
                                            <span class="float-right" asp-validation-for="Info.Skills"></span>
                                            <input class="form-control-sm" type="text" name="SkillName" />
                                        </div>
                                        <div class="m-2">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="SkillValue0" id="inlineRadio1" value="1">
                                                <label class="form-check-label text-light" for="inlineRadio1">Beginner</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input text-light" type="radio" name="SkillValue0" id="inlineRadio2" value="2" checked>
                                                <label class="form-check-label text-light" for="inlineRadio2">Intermediate</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input text-light" type="radio" name="SkillValue0" id="inlineRadio3" value="3">
                                                <label class="form-check-label text-light" for="inlineRadio3">Advanced</label>
                                            </div>
                                        </div>
                                        <button class="btn btn-danger d-block" href="#" disabled>X</button>
                                    </td>
                                </tr>
                            </table>
                            <input type="button" class="btn btn-info mt-2 w-20" onclick="addSkills('', 2);" value="Add Skill">
                        </div>


                        <div class="form-group mb-2 mt-5">
                            <h1 class="card-title text-start mb-2 header-texts">Profile</h1>
                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="textAreaProfile">About me</label>
                                <span class="float-right text-danger" asp-validation-for="Info.AboutMe"></span>
                                <textarea class="form-control" id="textAreaProfile" rows="8" asp-for="Info.AboutMe" placeholder="Tell us about yourself..."></textarea>
                            </div>
                        </div>

                        <div class="form-group mb-2">
                            <h1 class="card-title text-start mb-2 header-texts">Experience/Projects</h1>
                            <div class="mb-4 d-flex flex-column flex-md-row justify-content-center align-items-center flex-wrap" id="experience_div">
                                <div class="card bg-transparent border-white m-3">
                                    <div class="card-header">
                                        <input type="text" placeholder="Title" class="experience_header card-title w-100" name="ExperienceTitle" />
                                    </div>
                                    <div class="card-body">
                                        <textarea type="text" class="form-control experience_text" rows="8" placeholder="Tell us more about it..." name="ExperienceText"></textarea>
                                    </div>
                                </div>
                            </div>
                            <input type="button" onclick="addExperiences(``, ``);" class="btn btn-info offset-3 w-50" style="font-size: small;" value="Add Experience">
                        </div>

                        <div class="form-group mb-2 mt-5">
                            <input class="btn btn-success w-100" asp-page="/Edit" value="Edit Resume" type="submit">
                        </div>

                        <div>
                            <a asp-page="/Welcome">Back to List</a>
                        </div>
                    </form>



                    @section Scripts{
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                        <script type="text/javascript">
                            // Add the following code if you want the name of the file appear on select
                            $(".custom-file-input").on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                            });
                        </script>
                    }

                </div>
            </div>
        </div>
    </div>
</div>



@if (Model.Info != null)
{
    @if (Model.Info.GetLanguages().Count > 0)
    {
        <script>
            document.getElementsByName("LanguageName")[0].setAttribute("value", '@Model.Info.GetLanguages()[0].Name');
            document.getElementsByName("LanguageValue0")[@Model.Info.GetLanguages()[0].Proficiency - 1].setAttribute("checked", true);
        </script>
    }

    @for (int i = 1; i < Model.Info.GetLanguages().Count; i++)
    {
        <script>
            addLanguage('@Model.Info.GetLanguages()[i].Name', @Model.Info.GetLanguages()[i].Proficiency);
        </script>
    }
    @if (Model.Info.GetExperiences().Count > 0)
    {
        <script>
            document.getElementsByName("ExperienceTitle")[0].setAttribute("value", '@Model.Info.GetExperiences()[0].Name');
            document.getElementsByName("ExperienceText")[0].innerHTML = '@Model.Info.GetExperiences()[0].Text';
        </script>
    }

    @for (int i = 1; i < Model.Info.GetExperiences().Count; i++)
    {
        <script>
            addExperiences('@Model.Info.GetExperiences()[i].Name', '@Model.Info.GetExperiences()[i].Text');
        </script>
    }
    @if (Model.Info.GetSkills().Count > 0)
    {
        <script>
            document.getElementsByName("SkillName")[0].setAttribute("value", '@Model.Info.GetSkills()[0].Name');
            document.getElementsByName("SkillValue0")[@Model.Info.GetSkills()[0].Proficiency - 1].setAttribute("checked", true);
        </script>
    }

    @for (int i = 1; i < Model.Info.GetSkills().Count; i++)
    {
        <script>
            addSkills('@Model.Info.GetSkills()[i].Name', @Model.Info.GetSkills()[i].Proficiency);
        </script>
    }

}



